:root{
  --white_primary: rgb(255, 255, 255);
  --primary_color: rgb(50, 241, 241);
}

*{
  padding:0;
  margin: 0;
  color:var(--white_primary);
  
}
body{
  background-image: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.main{
  .nav{
    backdrop-filter: blur(7px) saturate(184%);
    -webkit-backdrop-filter: blur(7px) saturate(184%);
    background-color: rgba(13, 13, 14, 0.52);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  
  }
}